.title {
  text-align: center;

}
/**/
.find {
  display: flex;
  flex-wrap: nowrap;
}
.find > a {
  transition: background-color 0.5s ease;
  background-color: #f1f1f1;
  width: 14%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 12px;
  overflow:   hidden;
  text-decoration: none;
  color: black;
}
.find > a:hover {
  transition: background-color 0.5s ease;
  background-color: white;
}
.find > a:visited {
  text-decoration: none;
}
.container {
  position:sticky !important;
  height: 20px;
  padding: 20px;
  background-color: grey;

}
.text {
  position: relative !important;
  text-align: center !important;
}
.rotate {
  position: relative !important;
  text-indent: 90 !important;
  height: 100% !important;
  width: auto !important;

}
.rotated {
  -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(90deg);  /* IE 9 */
  -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
  transform: rotate(490deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.tooltip {
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    position: absolute !important;
    bottom: 10%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    z-index: 1;
}
.tooltip:hover {
  color : red
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
