.title {
  text-align: center;

}
/**/
.find {
  display: flex;
  flex-wrap: nowrap;
  position: sticky;
  top: 60px;
  background-color: white;
  opacity: 0.8;

}
.find > a {
  transition: background-color 0.5s ease;
  background-color: #f1f1f1;
  width: 14%;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  overflow:   hidden;
  text-decoration: none;
  color: black;
  opacity: 2 !important;
}
.find > a:link {
  color: black;
}
.find > a:visited {
  color: black;
  text-decoration: none;
}
.find > a:hover {
  transition: background-color 0.5s ease;
  background-color: white;
}
.container {
  position: sticky !important;
  top: 0;
  height: 20px;
  padding: 20px;
  background-color: grey;
  box-sizing:content-box !important;
}
.text {
  position: relative !important;
  margin:auto;
  width: 30%;
  top: -20px;
  text-align: center !important;
}
.rotate {
  position: relative !important;
  text-indent: 90 !important;
  height: 100% !important;
  width: auto !important;

}
.rotated {
  -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
  -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
  -ms-transform: rotate(90deg);  /* IE 9 */
  -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
  transform: rotate(490deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.tooltip {
    position: relative;
    border-bottom: 5px solid black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    position: absolute !important;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    margin: auto;
    width: 80px;
    top: 100%;
    left: 50%;
    margin-left: -40px;
    /* Position the tooltip text - see examples below! */
    z-index: 1;
}
.tooltip:hover {
  color : red
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.medal{
  height:30px;
  width: 30px;
}
.rank {
  height:30px;
  width: 30px;
}
a.link {
  text-decoration: none;
}
a.link:link {
  color: blue;
}
a.link:visited {
  color: blue;
}
a.link:hover {
  color: red;
}
table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}
tr.tbh {
  background-color: white;
  height: 30px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: white;
}
th, td {
    border-bottom: 1px solid #ddd;
}

div.ending {
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: contain;

}
